<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {# CSS #}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="page-container">
    <div class="content-wrap">
        {# HEADER #}
        {% include 'includes/header.html' %}

        {# NAVBER #}
        {% include 'includes/nav.html' %}

        {# CONTENT #}
        {% block content %}{% endblock %}
    </div>
        {# FOOTER #}
    {% include 'includes/footer.html' %}


    <button id="mode-toggle">Light Mode</button>

    {# SCRIPTS #}
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>

